body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.cookies-body {
    color: white;
    position: fixed;
    bottom: 0;
    width: 25%;
    height: 20%;
    border: 10px solid #2f3640;
    background-color: #353b48;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
}
.cookies-body h2 {
    text-align: center;
}
.cookies-body .besked {
    text-align: center;
    font-size: 14px;
}

.cookies-body button {
    cursor: pointer;
    padding: 10px;
}

.cookies-body #accept-cookies {
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
}
.cookies-body #accept-cookies:hover {
    background-color: #25a159;
    transition: 0.3s;
}

.cookies-body #decline-cookies {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
}
.cookies-body #decline-cookies:hover {
    background-color: #b63a2c;
    transition: 0.3s;
}
.knapper {
    text-align: center;
}